python-dotenv
tqdm
langchain
langchain-text-splitters
pillow
langchain-openai
unstructured[all-docs]
pytesseract
huggingface_hub
langchain-huggingface 
langchain-core
sentence-transformers
pytest
langchain-mongodb
pymongo